In [3]:
import numpy as np
import pandas as pd


col_names = ['iteration', 'ouroboros_count', 'bite_count', 'head_to_head_count', 'seed', 
             'score_a', 'score_b', 'score_c', 'score_d']
df = pd.read_csv('./results.txt', header=0, names=col_names, delimiter="\t")

df.nlargest(10, 'bite_count')
# df.head(10)

,iteration,ouroboros_count,bite_count,head_to_head_count,seed,score_a,score_b,score_c,score_d
102233,700,7,41,235,12768477609909882769,151,38,970,259
863771,649,5,39,3,2216562425439805338,1,128,282,990
270486,606,6,37,12,3997507832323033217,0,4,580,812
91829,651,7,36,5,10023755602707010202,120,31,554,798
890787,620,5,36,10,1307410005235798984,217,131,148,899
205676,573,4,35,12,1510264889999605292,59,54,635,648
262364,604,7,35,16,15731376021345726866,68,46,244,1054
539393,627,6,35,9,3563535007226961574,16,74,1034,324
548341,551,5,35,36,8384213099110675947,34,157,57,1188
573896,637,7,35,4,15856833454553192714,59,5,561,764